# (c) Kazansky137 - Mon Apr 27 16:04:53 UTC 2020

# source
addr : 12.3.4.567
port : 12345
type : raw
pref : ALERT ABC-DE

# reference position
lat    : 12.abcde
long   : 1.abcde

# rinring
apiKey : 12345678-XXXX-YYYY-ZZZZ-987654A61234
phone  : 0486/xx.yy.zz

# sendmail
server : smtp.abcdef.tl
from   : alert@abcdef.tl
reply  : info@abcdef.tl
to     : john.doe@abcdef.tl
